*{
    color: white;
}
body{
    background-color: black;
}
  
header {
    display: flex;
    justify-content: space-between;
    background-color: black; 
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: 60px;
}

nav ul li {
    margin: 0 0px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700; 
}


section {
    padding-top: 50px; 
    margin-top: -50px; 
}

.ascii-frame {
    font-family: "Courier New", monospace;
    color: white;
    background: black;
    padding: 10px;
    width: fit-content;
    margin: 0;
    position: relative;
  }
  
  .ascii-frame::before,
  .ascii-frame::after {
    content: "----------------------------------";
    display: block;
    text-align: center;
  }
  
  .ascii-frame::after {
    content: "----------------------------------";
  }
  
p{
    font-family: 'Courier New', Courier, monospace;
}